ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(99, 224, 64, 0.92);
    overflow: hidden;
}
li{
    float: right;
}
li,a{
    display: block;
    color: Black;
    text-align: center;
    padding: 15px;
    text-decoration: blue;
}
li a:hover{
    background-color: red;
}